body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.navlink a {
    color: #000;
    text-decoration: none;
    font-size: 14px;   
}

.navlink.flex-2 {
    flex: 2;
}

.navlink {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
}

article {
    width: 80%;
    border: 1px SOLID #000;
    margin: 10px auto;
    border-radius: 20px;
    padding: 10px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-header img {
    width: 100px;    
    border-radius: 50%;
}

.card-header p {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.card-footer p {
    text-align: end;
}

header img {
    width: 100%;
}

header {
    position: relative;
}

header div {
    position: absolute;
    background-color: red;
}

header div {
    position: absolute;
    background-color: rgb(255 255 255 / 50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 25px;
    text-transform: uppercase;
}

#chi-siamo img {
    width: 360px;
}

.clear {
    clear: both;
}
.card-wrapper-pjr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.card-pjr {
    border: 2px solid #000;
    padding: 10px;
}
.card-header-pjr {
    position: relative;
}
.card-header-pjr h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.card-footer-pjr {
    display: flex;
    justify-content: space-around;
}

.card-footer-pjr img {
    border-radius: 50%;
}


/*
tutti i link di colore nero (esadecimale)
tutti i link non hanno sottolineatura
tutti i link hanno font-size 14px
dentro navlink a 
flex: 2 
disply flex
justify-content:space-evenly*/